
/* Adding and positioning of the background image*/
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Style of the container and positioning of contents*/

.container {
    padding: 20px;
    height: 50%;
    width: 400px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-radius: 15%;
    display: none;
    text-align: center;
    font-size: large;

}

/* Styling and positioning of the previous button*/

.previous {
    padding: 5px;
    border: 2px solid;
    border-radius: 10%;
    margin: 20px;
}

/* Styling and positioning of the next button*/

.next {
    padding: 5px;
    border: 2px solid;
    border-radius: 10%;
    margin: 20px;
}

/*Styling and positioning of the submit button*/
.submit {
    padding: 5px;
    border: 2px solid;
    border-radius: 10%;
    margin: 20px;
}


